.form {
  margin: 5px;
}

.input {
    border: 1px solid #d3d6db;
    border-radius: 3px;
    color: #222324;
    display: inline-flex;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    vertical-align: top;
}

.button {
  font-size: 18px;
  height: 40px;
  padding-left: 14px;
  padding-right: 14px;
}
