.chatroom {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  justify-content: center;
}

.list {
  flex: 1 1 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.input {
  flex: 0 0 20%;
  align-self: center;
}
