.list {
  display: flex;
  flex-direction: column;
}

.chat {
  margin: 10px;
  border-radius: 15px;
  max-width: 100px;
  line-height: 30px;
  color: white;
  font-size: 2em;
  text-align: center;
}

.me {
  composes : chat;
  align-self: flex-start;
  background: red;
}

.you {
  composes : chat;
  align-self: flex-end;
  background: blue;
}
